<section class="project-page__content">
    <div class="container">
        <div class="layout">
            <aside class="layout__aside"></aside>
            <div class="layout__main">
                <div class="project__text">
                    <h3 class="project-page__subheading">Проблема</h3>
                    <p>
                        У компании много собственных продуктов, все они в разной стилистике и каждый со своим ui kit-ом и правилами оформления. При разработке новых фич приходилось заново вспоминать где что лежит и какими правилами руководствуется, это отнимало много времени, также не было визуальной консистентности и общности стилистики продуктов
                    </p>
                    <h3 class="project-page__subheading">Решение</h3>
                    <p>
                        Создать свою дизайн-систему. В ней содержится более 1000 компонентов, есть токенизация под разные темы, интеграция со сторибуком и своя документация
                    </p>
                    <h3 class="project-page__subheading">Результат</h3>
                    <p>
                        Разработчики практически не верстают (теперь это делают агенты), а занимаются логикой. Дизайну стало намного легче, так как появились централизованные правила оформления и уже готовые компоненты
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
