<section class="project-page__content">
    <div class="container">
        <div class="layout">
            <aside class="layout__aside"></aside>
            <div class="layout__main">
                <div class="project__text">
                    <h3 class="project-page__subheading">Аудитория</h3>
                    <p>B2C, пользователи, которые хотят подключить или расширить интернет-тариф</p>
                    <h3 class="project-page__subheading">Цель</h3>
                    <p>Сделать единый шаблон для всех сайтов провайдеров, чтобы сократить время разработки нового сайта и ускорить внедрение новых фич на существующие сайты</p>
                    <h3 class="project-page__subheading">Задачи</h3>
                    <ul class="project-page__list">
                        <li>Сделать единый шаблон, подходящий под стиль большинства сайтов</li>
                        <li>Настроить шаблон таким образом, чтобы изменения по стилю и новым функциям вносились минимальными усилиями для разработчиков</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
