<nav class="project-page__other">
    <div class="container">
        <div class="layout">
            <aside class="layout__aside"></aside>
            <div class="layout__main">
                <a href="project-e-comm.html" class="project-page__other-link">Сайт МТС<span class="link-arrow" aria-hidden="true"></span></a>
                <a href="project-marketplace.html" class="project-page__other-link">Маркетплейс тарифов<span class="link-arrow" aria-hidden="true"></span></a>
            </div>
        </div>
    </div>
</nav>
