<section id="about" class="about">
    <div class="container">
        <div class="layout">
            <aside class="layout__aside">
                <div class="about__media">
                    <img src="img/picture.png" alt="picture" class="about__img" loading="lazy" decoding="async" />
                </div>
            </aside>
            <div class="layout__main">
                <div class="about__text">
                    <p>Я пришла в&nbsp;дизайн в&nbsp;19 лет и&nbsp;с&nbsp;тех&nbsp;пор&nbsp;успела
                        поработать как&nbsp;в&nbsp;зрелых продуктах, так&nbsp;и&nbsp;в&nbsp;динамичных стартапах</p>
                    <p class="about__text-paragraph">Этот опыт научил меня чётко
                        чувствовать контекст: я&nbsp;понимаю, когда&nbsp;важна
                        скорость и&nbsp;нужно быстро проверить гипотезу, а&nbsp;когда&nbsp;внимание к&nbsp;качеству и&nbsp;деталям,
                        которые формируют доверие пользователей</p>
                </div>
            </div>
        </div>
    </div>
</section>

