<!-- <section id="blog" class="blog">
    <div class="container">
        <div class="layout">
            <aside class="layout__aside">
                <h2 class="blog__title">Блог</h2>
            </aside>
            <div class="layout__main">
                <ul class="blog__list">
                    <li class="blog__item">
                        <a class="blog__link" href="#" aria-label="Telegram канал (заглушка)">Telegram канал</a>
                    </li>
                    <li class="blog__item">
                        <a class="blog__link" href="#" aria-label="Designers (заглушка)">Designers</a>
                    </li>
                    <li class="blog__item">
                        <a class="blog__link" href="#" aria-label="Dprofile (заглушка)">Dprofile</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section> -->

