<section class="experience">
    <div class="container">
        <div class="layout">
            <aside class="layout__aside">
                <h2 class="experience__title">Опыт работы</h2>
            </aside>
            <div class="layout__main">
                <ul class="experience__list">
                    <li class="experience__item">
                        <article class="experience-card">
                            <h3 class="experience-card__position">
                                UX/UI-дизайнер, проджект менеджер, проектная занятость
                            </h3>
                            <div class="experience-card__duration">
                                Январь 2026 — сейчас
                            </div>
                            <div class="experience-card__description">
                                
                                <ul class="project-page__list">
                                    <li>Выпущено 2 коммерческих проекта за первый квартал работы, еще 2 в разработке</li>
                                    
                                    <li>Организован процесс сбора требований и оперативного внесения правок с командой</li>
                                </ul>
                            </div>
                        </article>
                    </li>
                    <li class="experience__item">
                        <article class="experience-card">
                            <h3 class="experience-card__position">
                                Продуктовый дизайнер, тарифник e-comm
                            </h3>
                            <div class="experience-card__duration">
                                Июнь 2023 — сейчас 
                            </div>
                            <div class="experience-card__description">
                                
                                <ul class="project-page__list">
                                    <li>Увеличены CRO и ROI на 23% совместно с командой (за счет комплексных изменений в дизайне и SEO-оптимизации)</li>
                                    <li>Переработаны 2 крупные CRM-системы для B2B-сегмента (редизайн и оптимизация пользовательских сценариев)</li>
                                    <li>Создана дизайн-система (документация, UI-кит, гайдлайны, токенизация) и увеличена скорость разработки новых прототипов</li>
                                    <li>Разработано + 50 e-commerce сайтов с MAU свыше 100к, большая часть из которых подняла CRO</li>
                                </ul>
                            </div>
                        </article>
                    </li>
                    <li class="experience__item">
                        <article class="experience-card">
                            <h3 class="experience-card__position">
                                Java Mentor AI, edTech
                                продуктовый дизайнер
                            </h3>
                            <div class="experience-card__duration">
                                Август 2025 — Октябрь 2025
                            </div>
                            <div class="experience-card__description">
                               
                                <ul class="project-page__list">
                                    <li>Разработан MVP продукта, более 30 пользовательских сценариев и 100+ экранов интерфейсов, подготовлено техническое задание и документация для запуска проекта</li>
                                </ul>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

