<section id="hero" class="hero presentation">
    <div class="container hero__container">
        <div class="layout">
            <aside class="layout__aside">
                <div class="hero__location">Москва</div>
            </aside>
            <div class="layout__main">
                <div class="hero__content">
                    <h1 class="hero__title">
                        <span class="hero__line">Продуктовый дизайн:</span><br />
                        <span class="hero__line">где стратегия встречается</span><br />
                        <span class="hero__line">с вниманием к мелочам</span>
                    </h1>
                    <div class="hero__year">©2026</div>
                </div>
            </div>
        </div>
    </div>
</section>

