<section class="project-page__content">
    <div class="container">
        <div class="layout">
            <aside class="layout__aside"></aside>
            <div class="layout__main">
                <div class="project__text">
                    <h3 class="project-page__subheading">Аудитория</h3>
                    <p>B2C, пользователи, которые хотят подключить домашний интернет и ищут самого выгодного провайдера (или того, кто подключён к их дому)</p>
                    <h3 class="project-page__subheading">Цель</h3>
                    <p>Поднять основные метрики за счёт комплексной переделки всего сайта</p>
                    <h3 class="project-page__subheading">Задачи</h3>
                    <ul class="project-page__list">
                        <li>Привести визуально сайт к новой дизайн-системе, переработать старые блоки</li>
                        <li>Разработать новые блоки для SEO-выдачи</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
