            <section class="project-page__content">
                <div class="container">
                    <div class="layout">
                        <aside class="layout__aside"></aside>
                        <div class="layout__main">
                            <div class="project__text">
                                <h3 class="project-page__subheading">Аудитория</h3>
                                <p>
                                    Операторы колл-центра. (также в системе работают супервайзеры, руководители, маркетологи и контент-менеджеры, но в этом кейсе их не будет)
                                </p>
                                <h3 class="project-page__subheading">Цель</h3>
                                <p>
                                    Создать эффективную и комфортную среду для работы оператора с клиентом, освободив интерфейс от визуального шума и устаревших функций, которые мешают и отвлекают
                                </p>
                                <h3 class="project-page__subheading">Задачи</h3>
                                <ul class="project-page__list">
                                    <li>Провести исследование реальной работы операторов и выявить их ключевые боли</li>
                                    <li>Очистить интерфейс от 80% визуального шума и неиспользуемых функций</li>
                                    <li>Перепроектировать алгоритм работы с заявками для повышения эффективности</li>
                                    <li>Разработать новые виджеты с персональными и командными метриками</li>
                                    <li>Внедрить систему геймификации для повышения мотивации</li>
                                    <li>Создать удобный интерфейс управления графиком и сменами</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="project-page__content">
                <div class="container">
                    <div class="layout">
                        <aside class="layout__aside">
                            <h2 class="project-page__heading">С чего началась работа над проектом</h2>
                        </aside>
                        <div class="layout__main">
                            <div class="project__text">
                                <ul class="project-page__list">
                                    <li>Сформировала план исследований и аналитики</li>
                                    <li>Провела брифинг с ключевыми стейкхолдерами</li>
                                    <li>Проанализировала имеющиеся метрики эффективности</li>
                                    <li>Провела аудит текущего интерфейса и выявила более 60 неиспользуемых элементов</li>
                                    <li>Погрузилась в реальную работу команды, провела 20+ часов наблюдений и интервью</li>
                                    <li>Предложила новый дизайн-концепт, учитывающий выявленные точки роста и боли пользователей</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

