            <nav class="project-page__other">
                <div class="container">
                    <div class="layout">
                        <aside class="layout__aside"></aside>
                        <div class="layout__main">
                            <a href="project-e-comm.html" class="project-page__other-link">B2C E-COMM →</a>
                            <a href="project-mini-app.html" class="project-page__other-link">Публикатор →</a>
                        </div>
                    </div>
                </div>
            </nav>

