<footer class="footer">
    <div class="container">
        <div class="layout">
            <aside class="layout__aside"></aside>
            <div class="layout__main">
                <div class="footer__title">
                    Можем делать круто вместе
                </div>
                <div class="footer__wrapper">
                    <ul class="footer__links">
                        <li class="footer__item">
                            <span class="footer__label">Для связи</span>
                            <a href="https://t.me/Uiuxmargo" class="footer__link">@Uiuxmargo</a>
                        </li>
                        <li class="footer__item">
                            <span class="footer__label">Почта</span>
                            <a tabindex="0" data-user="margaritabraude" data-domain="yandex.ru" class="footer__link footer__email">Написать на почту</a>
                        </li>
                        <li class="footer__item">
                            <span class="footer__label">Выкладываю красоту</span>
                            <a href="https://dprofile.ru/dobrychelovek" class="footer__link">https://dprofile.ru/dobrychelovek</a>
                        </li>
                        <li class="footer__item">
                            <span class="footer__label">Пишу о дизайне</span>
                            <a href="https://dsgners.ru/uiuxmargo" class="footer__link">https://dsgners.ru/uiuxmargo</a>
                        </li>
                    </ul>
                    <div class="footer__year">©2026</div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="cursor"><span class="cursor__text">еще</span></div>
<script src="../js/script.js"></script>
