            <section class="project-page__content">
                <div class="container">
                    <div class="layout">
                        <aside class="layout__aside"></aside>
                        <div class="layout__main">
                            <div class="project__text">
                                <h3 class="project-page__subheading">Аудитория</h3>
                                <p>
                                    Владельцы и администраторы каналов в Telegram и MAX, которым нужно регулярно публиковать контент и следить за несколькими площадками
                                </p>
                                <h3 class="project-page__subheading">Цель</h3>
                                <p>
                                    Спроектировать и визуализировать интерфейс мини приложения, где пользователь создает, планирует и публикует посты в нескольких каналах и мессенджерах без лишних переключений между ними
                                </p>
                                <h3 class="project-page__subheading">Задачи</h3>
                                <ul class="project-page__list">
                                    <li>Собрать из исходной идеи понятное техническое задание и зафиксировать границы MVP</li>
                                    <li>Продумать онбординг, помогающий без ошибок подключить ботов и подобрать тариф под задачи канала</li>
                                    <li>Создать редактор постов с поддержкой сложного форматирования, вложений, кнопок и подписей</li>
                                    <li>Настроить систему планирования публикаций с календарем и повторяющимися постами</li>
                                    <li>Сформировать сценарии управления подписками с тарифами, лимитами и оплатой</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

