<section class="project-page__content">
    <div class="container">
        <div class="layout">
            <aside class="layout__aside">
                <h2 class="project-page__heading">Результат</h2>
            </aside>
            <div class="layout__main">
                <div class="project__text">
                    <ul class="project-page__list">
                        <li>Разработаны макеты на несколько версий вперёд, вместе с ними проработаны все основные и крайние сценарии</li>
                        <li>MVP находится на этапе тестирования и сбора метрик</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="project-page__content">
    <div class="container">
        <div class="layout">
            <aside class="layout__aside">
                <h2 class="project-page__heading">Что дальше</h2>
            </aside>
            <div class="layout__main">
                <div class="project__text">
                    <p>
                        В следующих версиях планируется расширение функционала управления подписками, включение фирменных подписей и предустановленных шаблонов, а также детальная проработка привязанных карт и способов оплаты
                    </p>
                    <p>
                        Также планируется сбор метрик и обратной связи для понимания успешности проекта
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<nav class="project-page__other">
    <div class="container">
        <div class="layout">
            <aside class="layout__aside"></aside>
            <div class="layout__main">
                <a href="project-crm.html" class="project-page__other-link">CRM для колл-центра →</a>
                <a href="project-e-comm.html" class="project-page__other-link">B2C E-COMM →</a>
            </div>
        </div>
    </div>
</nav>