<nav class="project-page__other">
    <div class="container">
        <div class="layout">
            <aside class="layout__aside"></aside>
            <div class="layout__main">
                <a href="project-crm.html" class="project-page__other-link">CRM для колл-центра<span class="link-arrow" aria-hidden="true"></span></a>
                <a href="project-design-system.html" class="project-page__other-link">Дизайн-система<span class="link-arrow" aria-hidden="true"></span></a>
            </div>
        </div>
    </div>
</nav>
