<section class="project-page__content">
    <div class="container">
        <div class="layout">
            <aside class="layout__aside"></aside>
            <div class="layout__main">
                <div class="project__text">
                    <h3 class="project-page__subheading">Аудитория</h3>
                    <p>B2B, предприниматели, которым нужен колл-центр</p>
                    <h3 class="project-page__subheading">Цель</h3>
                    <p>Привести к единообразию интерфейс, согласовать его с новой дизайн-системой, добавить несколько новых функций для удобства</p>
                    <h3 class="project-page__subheading">Задачи</h3>
                    <ul class="project-page__list">
                        <li>Узнать существующие проблемы интерфейса, учесть их при редизайне</li>
                        <li>Перевести весь интерфейс на новую дизайн-систему</li>
                        <li>Доработать текущий функционал</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
