            

            <section class="project-page__media">
                <div class="container">
                    <div class="project-page__media-inner project-page__media-placeholder">
                        <p class="project-page__placeholder">[ВСТАВИТЬ ИЗОБРАЖЕНИЕ]</p>
                    </div>
                </div>
            </section>

            <section class="project-page__content">
                <div class="container">
                    <div class="layout">
                        <aside class="layout__aside"></aside>
                        <div class="layout__main">
                            <div class="project__text">
                                <p>
                                    Сценариев получилось очень много, и технически это было сложно реализуемо. Поэтому следующим шагом я упростила некоторые сценарии, сохранив при этом логику фильтрации пользователей
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="project-page__media">
                <div class="container">
                    <div class="project-page__media-inner project-page__media-placeholder">
                        <p class="project-page__placeholder">[ВСТАВИТЬ ИЗОБРАЖЕНИЕ/КОЛЛАЖ]</p>
                    </div>
                </div>
            </section>

