<section class="project-page__content">
    <div class="container">
        <div class="layout">
            <aside class="layout__aside"></aside>
            <div class="layout__main">
                <div class="project__text">
                    <h3 class="project-page__subheading">Аудитория</h3>
                    <p>
                        На сайты МТС приходят пользователи из контекстной рекламы. Среди них есть целевые, уже готовые
                        подключиться, и нецелевые с запросами уровня техподдержки
                    </p>
                    <h3 class="project-page__subheading">Цель</h3>
                    <p>
                        Увеличить качество входящего трафика, сократить время обработки обращений в колл-центре и не
                        сохранить целевую аудиторию
                    </p>
                    <h3 class="project-page__subheading">Задачи</h3>
                    <ul class="project-page__list">
                        <li>Спроектировать новый одностраничный сайт для проверки гипотез</li>
                        <li>Убрать телефоны с сайта, чтобы отсеять звонки в техподдержку</li>
                        <li>Фильтровать пользователей на ЦА и не ЦА</li>
                        <li>Реализовать функцию, которая поможет узнать, что пользователь хочет, новое подключение или
                            апдейт тарифа</li>
                        <li>Если подключение недоступно, предложить другие варианты</li>
                        <li>Передавать оператору уже готовые структурированные данные для обработки</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>