
<section class="project-page__media project-page__media--compact">
    <div class="container">
        <div class="project-page__media-inner">
            <video autoplay muted loop playsinline preload="metadata" poster="../img/e-comm/keys-2-img-1.png">
                <source src="../resource/e-comm/progect-keys-2-video-1.mp4" type="video/mp4" />
            </video>
        </div>
        <p class="project-page__caption">Переработана карточка тарифа. Улучшена читабельность параметров, доп опций и выделена цена</p>
    </div>
</section>

