<section class="project-page__content">
    <div class="container">
        <div class="layout">

            <div class="layout__main">
                <div class="project__text">
                    
                    <h3 class="project-page__subheading">Какие гипотезы решили проверить</h3>
                    <ul class="project-page__list">
                        <li>Убрав все номера телефонов с сайта, мы сократим долю нецелевых обращений, заставив пользователей оставлять заявки только через лид-формы</li>
                        <li>Добавив модальное окно с разделением на новое подключение и поддержку существующих клиентов, мы отсеем нецелевые обращения и повысим качество обработки заявок</li>
                        <li>Если мы будем сразу определять новое подключение или изменение тарифа перед обращением к оператору, то оператор потратит меньше времени на уточнение потребностей клиента</li>
                        <li>Если в случае отсутствия технической возможности подключения показывать подсказку с альтернативными провайдерами, то пользователь сможет самостоятельно перейти к ним, а мы сохраним его лояльность </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>