

            <section class="project-page__content">
                <div class="container">
                    <div class="layout">
                        <aside class="layout__aside">
                            <h2 class="project-page__heading">Изменения</h2>
                        </aside>
                        <div class="layout__main">
                            <div class="project__text">
                                <p>
                                    Переработан главный экран. Теперь пользователь вместо сео текста видит самый крутой тариф и может проверить свой адрес на доступность 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="project-page__media project-page__media--compact">
                <div class="container">
                    <div class="project-page__media-inner">
                        <img src="../img/e-comm/keys-2-img-4.png" alt="Сравнение главного экрана сайта подключения МТС до и после редизайна" class="project-page__img" loading="lazy" decoding="async" />
                    </div>
                    <p class="project-page__caption">Главный экран до и после</p>
                </div>
            </section>

            <section class="project-page__media project-page__media--compact">
                <div class="container">
                    <div class="project-page__media-inner">
                        <img src="../img/e-comm/keys-2-img-5.png" alt="Новые модальные окна, фильтрующие пользователей перед отправкой заявки" class="project-page__img" loading="lazy" decoding="async" />
                    </div>
                    <p class="project-page__caption">Перед отправкой заявки добавлены новые модальные окна, фильтрующие пользователей</p>
                </div>
            </section>

