<section class="project-page__media project-page__media--compact">
    <div class="container">
        <div class="project-page__media-inner">
            <img src="../img/e-comm/keys-2-img-3.png"
                alt="Главная страница сайта подключения МТС для домашнего интернета" class="project-page__img"
                loading="lazy" decoding="async" />
        </div>
        <p class="project-page__caption">Главная страница сайта подключения МТС для домашнего интернета</p>
    </div>
</section>