            <section class="project-page__content">
                <div class="container">
                    <div class="layout">
                        <aside class="layout__aside"></aside>
                        <div class="layout__main">
                            <div class="project__text">
                                <h3 class="project-page__subheading">Аудитория</h3>
                                <p>
                                    На сайты МТС приходят пользователи из контекстной рекламы. Среди них есть целевые, уже готовые подключиться, и нецелевые с запросами уровня техподдержки
                                </p>
                                <h3 class="project-page__subheading">Цель</h3>
                                <p>
                                    Увеличить качество входящего трафика и сократить время обработки обращений в колл-центре за счет фильтрации пользователей и автоматизации сбора данных
                                </p>
                                <h3 class="project-page__subheading">Задачи</h3>
                                <ul class="project-page__list">
                                    <li>Спроектировать новый одностраничный сайт для проверки гипотез</li>
                                    <li>Убрать все телефоны с сайта, чтобы отсеять звонки в техподдержку</li>
                                    <li>Реализовать механизмы фильтрации целевой аудитории</li>
                                    <li>Минимизировать работу оператора, пользователь сам выбирает тариф, оборудование и услуги</li>
                                    <li>Передавать оператору уже готовые структурированные данные для обработки</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

