<section class="project-page__content">
    <div class="container">
        <div class="layout">
            <aside class="layout__aside"></aside>
            <div class="layout__main">
                <div class="project__text">
                    <p>
                        Переработана карточка тарифа. Улучшена читабельность параметров, доп опций и выделена цена 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="project-page__media project-page__media--compact">
    <div class="container">
        <div class="project-page__media-inner">
            <video autoplay muted loop playsinline preload="metadata" poster="../img/e-comm/keys-2-img-1.png">
                <source src="../resource/e-comm/progect-keys-2-video-1.mp4" type="video/mp4" />
            </video>
        </div>
        <p class="project-page__caption">Карточка тарифа с акцентом на ключевых параметрах и дополнительных опциях</p>
    </div>
</section>