            <section class="project-page__content">
                <div class="container">
                    <div class="layout">
                        <aside class="layout__aside">
                            <h2 class="project-page__heading">Дизайн-система</h2>
                        </aside>
                        <div class="layout__main">
                            <div class="project__text">
                                <p>
                                    Взяли уже существующую дизайн систему, смесь стиля МТС и прошлых монобрендов, чтобы не тратить много времени на реализацию и быстро приступить к проверке гипотез
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="project-page__media">
                <div class="container">
                    <div class="project-page__media-inner project-page__media-placeholder">
                        <p class="project-page__placeholder">[ВСТАВИТЬ ИЗОБРАЖЕНИЕ ДИЗАЙН-СИСТЕМЫ]</p>
                    </div>
                </div>
            </section>

            <section class="project-page__content">
                <div class="container">
                    <div class="layout">
                        <aside class="layout__aside">
                            <h2 class="project-page__heading">Ключевое изменение</h2>
                        </aside>
                        <div class="layout__main">
                            <div class="project__text">
                                <p>
                                    Полностью переработан главный экран. Убрана всю воду и оставили только самые важные блоки
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="project-page__media">
                <div class="container">
                    <div class="project-page__media-inner project-page__media-placeholder">
                        <p class="project-page__placeholder">[ВСТАВИТЬ ИЗОБРАЖЕНИЕ/СРАВНЕНИЕ]</p>
                    </div>
                </div>
            </section>

